.card{
    display: flex;
    flex-direction: column;
    background-color: #5d3efb;
    color: white;
    max-width: 17rem;
    border-radius: 25px;
    padding: 1.5rem;
    align-items: center;
}

.card > h1{
    font-size: 20px;
    margin-top: 20px;
}

.circle{
    display: flex;
    flex-direction: column;
    background: rgb(75,35,202);
    background: linear-gradient(180deg, rgba(75,35,202,1) 0%, rgba(93,62,240,1) 100%);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    justify-content: center;
    line-height: 0;
}

.circle > h2 {
    line-height: 0;
    font-size: 45px;
}

.card > h4{
    font-weight: 500;
    font-size: 16px;
}



@media screen and (max-width:800px) {
    .card{
        border-radius: 0 0 25px 25px ;
    }
}